@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

/* font-family: 'Miama', sans-serif; */
body {
    /* background: rgb(185, 185, 185); */
    font-family: "Inter", sans-serif;
}

/* Nav bar related style */
.shape {
    line-height: 120%;
    font-family: 'Miama', sans-serif;
}

.header {
    background: rgb(29, 29, 29);
}

.brand {
    margin-top: 58px;
    margin-left: 80px;
    font-size: 2.25rem;
    font-weight: 800;
}

nav li {
    list-style: none;
}

.home {
    padding: 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}

.nav-items {
    width: 465px;
    margin-top: 57px;
    margin-right: 120px;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;

}

.banner-title {
    color: rgb(255, 255, 255);
    width: 520px;
    margin-left: 80px;
    margin-top: 95px;
    margin-bottom: 0;
    font-size: 4.4rem;
    font-weight: 900;
    line-height: 120%;
}

.banner-description {
    margin-left: 80px;
    margin-top: 28px;
    margin-bottom: 28px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

#ham-icon {
    display: none;
}

.nav-bar {
    justify-content: space-between;
}

.banner-container {
    width: 600px;
    gap: 250px;
}

.banner-img {
    margin-left: -85px;
}

/* Habits section styles starts */
.habits {
    width: 1044px;
    background: black;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 20px;
}

.section-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 15px;
}

.section-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: .875rem;
    font-weight: 400;
}

.habits-img {
    border-radius: 50%;
}

.habits-imgs-container {
    margin-left: 90px;
    margin-top: 60px;
}

.habits-img-card {
    width: 231px;
    gap: 40px;
}

.habit-img-title {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.habit-img-description {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 4px;
    font-size: .875rem;
    font-weight: 400;
}

/* Run section style stars */
.run {
    width: 1060px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run-content {
    margin: 40px 150px 40px 54px;
}

.run-img img {
    width: 95%;
    border-radius: 18px;
    margin: 37px 32px 30px 0;
}

/* BMI calculator section */
.bmi-content {
    background: black;
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;
}

.bmi-section-title {
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 900;
}

.bmi-cal {
    margin-top: 70px;
}

.bmi-cal-chart {
    margin-left: 189px;
}

.bmi-cal-form {
    width: 577px;
}

.chart-form-tiitle {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

.chart-calcform-container {
    margin-top: 0;
    padding-top: 45px;
    gap: 175px;
    background: rgb(34, 34, 34);
    width: 100%;
}

.input-container {
    width: 577px;
}

.input {
    padding: 12px 40px 12px 20px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 12px;
    margin-right: 10px;
    border: none;
}

#factor{
    width: 84%;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 20px;
    margin-bottom: 30px;
}

table {
    margin-top: 50px;
    border-collapse: collapse;
}

table th {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
}

tbody td {
    color: rgba(255, 255, 255, 0.5);
    font-size: .875rem;
    font-weight: 400;
}

th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 20px;
}

/* Shared Style starts */
.display-flex {
    display: flex;
}

.primary {
    color: rgb(230, 83, 60);
}

.text-center {
    text-align: center;
}

.marginL {
    margin-left: 80px;
}

.marginB {
    margin-bottom: 50px;
}

.marginT {
    margin-top: 20px;
}

.btn-primary {
    padding: 16px 40px;
    border: none;
    width: 224px;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 42px;
    background: rgb(230, 83, 60);
}

.btn {
    padding: 16px 40px;
    color: rgb(255, 255, 255);
    width: 224px;
    margin-left: 15px;
    background: black;
    font-size: 1.125rem;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
}

.workout {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
}

.workout-btn {
    margin-top: 100px;
    margin-left: -120px;
    text-align: start;
    height: 120px;
    width: 210px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 17px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.08rem;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.1);
}

.video-btn {
    color: rgba(239, 237, 232, 0.65);
    margin-left: -220px;
    margin-top: 405px;
    text-align: start;
    width: 210px;
    height: 120px;
    padding: 20px;
    font-size: 1.33rem;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}

#tt {
    margin-left: 40px;
}

#ttt {
    margin: 28px 10px;
}

.video {
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
}

/* Mobile device */
@media screen and (max-width:576px) {

    /* Header section */
    .video-btn {
        margin-top: 190px;
        margin-left: 20px;
        font-size: 1rem;
        width: 200px;
        height: 90px;
    }

    .video {
        font-size: 1.125rem;
    }

    #ttt {
        width: 30px;
        height: 30px;
        margin: 0;
    }

    #tt {
        margin: 0;
    }

    .workout {
        font-size: 1.7rem;
    }

    .workout-btn {
        margin-top: 40px;
        margin-left: -100px;
        margin-right: 20px;
        font-size: .8rem;
        padding: 5px;
        border-radius: 4px;
        width: 145px;
        height: 72px;
    }

    #ham-icon {
        display: contents;
    }

    .nav-items {
        display: none;
    }

    .banner-content {
        display: flex;
    }

    .banner-container,
    .banner-content,
    .run {
        flex-direction: column;
    }

    .brand {
        margin-top: 50px;
        margin-left: 20px;
        display: flex;
        gap: 90%;
    }

    .banner-container {
        width: 100%;
        margin-top: 50px;
        gap: 30px;
    }

    .banner-title {
        margin-top: 0px;
        width: 95%;
        font-size: 3rem;
        font-weight: 600;
    }

    .banner-description {
        width: 100%;
    }

    .btn-primary,
    .btn {
        padding: 13px;
        margin-top: 20px;
    }

    .banner-description {
        width: 274px;
    }

    .banner-description,
    .banner-title,
    .marginL {
        margin-left: 20px;
    }

    .banner-img {
        width: 75%;
        margin-left: -90px;
    }

    .banner-img-vidbtn {
        width: 100%;
    }

    /* Habits Section */
    .habits {
        width: 100%;
        margin-top: 0;
    }

    .section-title {
        font-size: 2rem;
        margin-top: 0;
    }

    .habits-imgs-container {
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }

    .habits-img-card {
        margin: 0 auto;

    }

    .habits-img {
        padding-top: 30px;
    }

    /*Run styles  */
    .run {
        width: 100%;
        margin-top: 20px;
    }

    .run-content {
        margin: 31px 33px;
    }

    .run-img img {
        margin-top: 31px;
        margin-left: 10px;
    }

    #run-btn {
        margin: 0 auto;
    }

    /* BMI section */
    .chart-calcform-container {
        flex-direction: column;
        gap: 0;
        
    }

    .bmi-cal-chart {
        margin-left: 10%;
    }

    .bmi-cal-form {
        margin-top: 40px;
        width: 100%;
        margin-left: 20px;
    }    
    .input{width: 100px;}
    #factor{width:300px;
    }
}